<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Show Info</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="/vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="styles/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent ">
      <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light">
            <a class="img-fluid" href="/"
              ><img
                src="/img/hero-img.png"
                alt=""
                class="rounded-circle border"
                height="60"
                width="60"
              />
              Quient Group</a
            >
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/#features">About Us</a></li>
            <li><a href="/testinomial">Testinomials</a></li>
            <li><a href="/gallary">Gallary</a></li>
            <li><a href="/contact">Contact Us</a></li>

            <!-- <li class="get-started"><a href="#features">Login</a></li> -->
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->


   
    <main id="main">
       <div class="container-fluid">
      <div>
        <div>
          <div class="col-lg-6 col-sm-auto">
            <form action="/show" method="GET" class="form-group mt-3">
              <div class="form-group">
                <div class="input-group row">
                  <div class="input-group-prepend">
                    <label class="input-group-text">Search</label>
                  </div>
                  <input
                    type="text"
                    name="search"
                    placeholder="By Name,phone or email"
                    class="form-control"
                  />
                  <button
                    type="submit"
                    class="btn btn-outline-primary"
                    value="Search"
                  >
                    <i class='bx bx-search-alt-2'></i> Search
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-12" data-aos="fade-up">
            <h2>
              Total entries in Database: <%= con %> 
            </h2>
          </div>

          <div class="col-lg-12 mt-3" data-aos="fade-up">
            <div class="scrol">
              <table class="table table-bordered table-hover">
                <thead class="bg-info text-white">
                  <tr>
                    <th>Sl.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Message</th>
                    <th>Options</th>
                </thead>
                <% for (let contact of contacts){%>
                <tr>
                  <td><%= count++ %></td>
                  <td><%= contact.name %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.phone %></td>
                  <td><%= contact.message %></td>
                  <td><form action="/show/<%= contact._id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form></td>
                </tr>
                <% }%>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up">
              <h3>Quient Group</h3>
              <p>
                A108 street <br />
                Bangalore, NY 560045<br />
                India <br /><br />
                <strong>Phone:</strong> +91 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>

            <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/#features">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/testinomial">Testinomials</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/gallary">Gallary</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/contact">Contact Us</a>
                </li>
              </ul>
            </div>

            <!-- <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <h4>Our Training</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div> -->

            <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <h4>Our Social Networks</h4>
               <p>
                Stay in contact always!!! <i class='bx bxs-hand-down'></i>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Quinet Group</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="">Vishwas D Raj</a></div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
  </body>
</html>
